.right-sidebar {
    background-color: hsl(228, 7%, 14%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.right-sidebar-header {
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid hsl(228, 6%, 10%);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    flex-shrink: 0;
}

@media (max-width: 1200px) {
    .right-sidebar {
        display: none;
    }
}
